__pycache__
*.pyc
/.venv
.eggs
/*.egg-info
/build
/.cache
*.so
/MANIFEST
/.tox
.idea
.coverage
_temp_test_datastore
.mypy_cache
.pytest_cache/
/logs
/registrar.json
/dist
chains
*logs*
*.ipynb*
.ethash
mypy_reports/
reports/
test-*
*.sqlite3
*variables.yml
variables*.yml
*ansible/*.retry
*ansible/inventory/*
.env
/tests/metrics/results/
/docs/build
.python-version
*.log
*venvs
public/*
!public/apps
.DS_Store
data/compiled

