{% extends "shared/generic-page.html" %}


{% block banner %}
    <div class="top-title">
        <h2 style="margin-top:0;" class="orange-glow">days of the virus: thoughts about science, compassion, and saving life</h2>
        <a href="/">
            <img style="position:fixed; top:40px;" src="/apps/shared/img/tattoo-60.png"/>
            <h4 style="position: fixed; top: 75px; width:18%;">Justin Myles Holmes</h4>
        </a>
        <div class="page-headline">
            {{page_title|safe}}
        </div>

        <div class="aside1 half-page">I am, at best, an adequate amateur general scientist.  I work professionally in a scientific field, but it is not this field.  The data and commentary on which I rely is not produced by me, but by experts.  If any of what I write is not in keeping with the best reading of the data, or if I have misrepresented the expert commentary I cite, please correct me.  You can issue a Pull Request <a href="https://github.com/jMyles/justinholmes.com/blob/public/data/authored/pages/covid19/best-argument-against-herd-immunity-body.md">here</a>.</div>
    </div>
{% endblock %}

{% block afters %}
    <div class="aside1 half-page">
        <p>Let me wear my politics on my sleeve for a moment: my efforts in research and advocacy have nothing to do with saving something called "the economy."  Although I'm generally an optimist, I think that these days of the virus present a reminder of the need to consider our communities, our freedom, our future.</p>
        <p>In fact, if the economies of imperialism and environmental destruction are disrupted and irreversibly hamstrung by our response to this pandemic, I view that as a pleasant bonus effect.  My only concern is saving lives and quality of life.  If economic recovery can do that, I will grudgingly support it, although I hope that we also take this opportunity to grow out of the childish economic configuration that has characterized the United States; that it has been so easily disrupted is an indicator of its unsustainability in the first place.</p>
        <p>None of what I write is meant to be defense of the White House.  I supported the impeachment of the 45th President, and I will gladly support it again, whether on the basis of the astonishingly blunderous response to this pandemic or any number of other crimes, with removal as a goal.</p>
    </div>
{% endblock %}
