<h2 class="bright">Nanny State Fiddler</h2>
<a href="https://justinholmes.bandcamp.com/album/nanny-state-fiddler-single?t=1">
    <img style="width:600px;" src="/apps/shared/img/nanny-state-fiddler-cover.png"/>
</a>
<div class="media-share">
    <a target="_blank" href="https://justinholmes.bandcamp.com/album/nanny-state-fiddler-single?t=1">
        <img src="/apps/shared/img/bandcamp-logotype-dark-128.png"/>
    </a>
    <a target="_blank" href="https://music.apple.com/us/album/nanny-state-fiddler-single/1637891658">
        <img src="/apps/shared/img/apple.svg"/>
    </a>
    <a target="_blank" href="https://open.spotify.com/album/7bsFWbApktbOhr8k7lv5Ms">
        <img src="/apps/shared/img/Spotify_Icon_RGB_Green.png"/>
    </a>
    <a target="_blank" href="https://deezer.page.link/6HpV5L9Fu1iZ2Xg38">
        <img src="/apps/shared/img/Deezer_logo.svg"/>
    </a>
</div>